include layout_head

main.bs-docs-masthead(id="content", role="main")
  .container
    img(src="img/hero.png")
    p.lead Stock Data Retriever
    p.lead
      a.btn.btn-outline-inverse.btn-lg(href="/executor") Execute task

include layout_footer