include layout_head

main.bs-docs-masthead(id="content", role="main")
  .container
    p.lead Stock Data Retriever
    p.lead
      a.btn.btn-outline-inverse.btn-lg(href="/executor") Viewer

include layout_footer